/* font */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
/*font-family: 'Nanum Gothic', sans-serif;  */

/* 기본설정 */
* {
  font-family: 'Nanum Gothic', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}
ul {
  list-style: none;
}

.google {
  z-index: 1000;
}
button {
  border: none;
  cursor: pointer;
}
body {
  background-color: #000;
}

/* react-router-dom  : link 관련 css 변경 */
.textLink {
  color: inherit;
  text-decoration: inherit;
}

/* Nav */
.NavOut {
  width: 100%;
  height: 80px;
  min-height: 80px;
  min-width: 800px;
  position: fixed;
  z-index: 900;
  animation: Landing 1.5s;
}

@keyframes Landing {
  0% {
    top: -80px;
  }
  100% {
    top: 0px;
  }
}

.Nav {
  width: 90%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  font-size: 1rem;
  margin: 0 auto;
}
.NavLogo {
  width: 30px;
  height: 30px;
  opacity: 0.4;
  transition: all 0.4s;
}
.NavLogo:hover {
  opacity: 1;
}
.NavLogo > img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.Nav > ul {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Nav > ul > li {
  width: 150px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff73;
  font-size: 16px;
}

.Nav > ul > li > .textLink {
  transition: all 0.4s;
}

.Nav > ul > li:hover > .textLink {
  color: #ffffff;
}

a.textLink.active {
  color: #ffffff;
}

.LogInBtn {
  color: #fff;
  width: 100px;
  height: 30px;
  cursor: pointer;
  background-color: #00acee;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  transition: all 0.4s;
}

.LogInBtn:hover {
  transform: scale(1.05);
  letter-spacing: 0.2rem;
}

.LogOutBtn {
  color: #fff;
  width: 100px;
  height: 30px;
  cursor: pointer;
  background-color: #d21c38;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  transition: all 0.4s;
}
.LogOutBtn:hover {
  transform: scale(1.05);
  letter-spacing: 0.2rem;
}

/* home */

.HomeOut {
  width: 100%;
  height: 100vh;
  z-index: 30;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BackGround {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
}

.Filter {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
  position: absolute;
}

.HomeContext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.HomeTitle {
  color: #fff;
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 40px;
  width: max-content;
  position: relative;
  letter-spacing: 10px;
  animation: textAni 2s linear forwards;
}

@keyframes textAni {
  0% {
    color: transparent;
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85% {
    letter-spacing: 15px;
    margin-bottom: -40px;
  }
}

.HomeSubTitle {
  color: #fff;
  z-index: 3;
  font-size: 2.5rem;
  font-weight: 400;
  width: max-content;
  animation: subtitle 0.5s ease 2s forwards;
  opacity: 0;
}
@keyframes subtitle {
  to {
    opacity: 1;
  }
}

/* SignUp */
.SignUp {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  min-height: 500px;
  padding-top: 80px;
  /* border: 1px solid #d21c38; */
}

.SignUpUl {
  /* border: 1px solid #d21c38; */
  z-index: 6;
}

.SignUpUl > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 60px;
  margin-bottom: 30px;
  position: relative;
  /* border: 1px solid yellow; */
}

.SignUpUl > li > input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  border: 1px solid #fff;
  outline: none;
  color: #fff;
  padding-left: 60px;
  font-size: 1rem;
}

.SignUpUl > li > input::placeholder {
  color: #fff;
  opacity: 0.6;
}

.SignUpUl > li > input:focus {
  border: 2px solid #00acee;
}
.SignUpUl > li:nth-child(1) {
  font-size: 30px;
  letter-spacing: 0.2rem;
}
.SignUpUl > li:nth-child(5) {
  /* margin-bottom: 5px; */
}
.SignUpUl > li:nth-child(6) {
  /* padding-left: 20px; */
}
.checkbox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.SignUpUl > li:nth-child(6) > .checkbox > input {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.SignUpBtn {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #00acee;
  font-size: 1.2rem;
  transition: all 0.4s;
  letter-spacing: 0.1rem;
}

.SignUpBtn:hover {
  letter-spacing: 0.3rem;
}
.SignUpBtn:active {
  transform: translateY(10px);
}

/* SignIN */

.SignIn {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  min-height: 500px;
  padding-top: 80px;
  /* border: 1px solid #d21c38; */
}
.SignInUl {
  /* border: 1px solid #d21c38; */
  z-index: 6;
}

.SignInUl > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 60px;
  margin-bottom: 30px;
  position: relative;

  /* border: 1px solid yellow; */
}
.SignInUl > li > input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  border: 1px solid #fff;
  outline: none;
  color: #fff;
  padding-left: 60px;
  font-size: 1rem;
}
.UserNameIcon {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  background-image: url('./icon/profile.svg');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
}
.NickNameIcon {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  background-image: url('./icon/nickname.svg');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.PasswordIcon {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  background-image: url('./icon/lock.svg');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
}
.SignInUl > li > input::placeholder {
  color: #fff;
  opacity: 0.6;
}

.SignInUl > li > input:focus {
  border: 2px solid #00acee;
}
.SignInUl > li:nth-child(1) {
  font-size: 30px;
  letter-spacing: 0.2rem;
}

.SignInUl > li:nth-child(4) {
  margin-bottom: 20px;
}

.SignInUl > li:nth-child(5) {
  height: 40px;
  /* border: 1px solid #00acee; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.LoginToggle {
  display: inline-block;
  width: 75px;
  height: 30px;
  border: 1px solid #fff;
  margin-right: 10px;
  border-radius: 15px;
  position: relative;
}

/* .LoginToggle::after {
  content: '로그인 유지';
  color: #fff;
  position: absolute;
  height: 30px;
  left: 85px;
  opacity: 0.4;
} */

.LoginToggleBtn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 2.5px;
  top: 2.5px;
  cursor: pointer;
}

.SocialLogin {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s;
}
.SocialLogin > img {
  width: 30px;
  height: 30px;
}

.SignInUl > li:nth-child(6) {
  margin-bottom: 0;
  height: 20px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

.SignInUl > li:nth-child(6) > span {
  font-size: 0.8rem;
  cursor: pointer;
  color: #fff;
  opacity: 0.4;
  transition: all 0.4s;
}

.SignInUl > li:nth-child(6) > span:hover {
  opacity: 1;
}

.SignInBtn {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #00acee;
  font-size: 1.2rem;
  transition: all 0.4s;
  letter-spacing: 0.1rem;
}

.SignInBtn:hover {
  letter-spacing: 0.3rem;
}
.SignInBtn:active {
  transform: translateY(10px);
}

/* FavoriteContents */
.FavoriteContentsOut {
  width: 100%;
  height: 100vh;
  min-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.FavoriteContentsOut.col {
  flex-direction: column;
}

.MoveCategoryBtn {
  width: 300px;
  height: 40px;
  background-color: #00acee;
  color: #fff;
  text-align: center;
  line-height: 40px;
  border-radius: 20px;
  display: block;
  margin: 50px;
}

.FavoriteUl {
  margin: 0 auto;
  width: 1000px;
  min-width: 800px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  -ms-overflow-style: none;
}
.FavoriteUl::-webkit-scrollbar {
  display: none;
}

.FavoriteUl > li {
  width: 200px;
  height: 300px;
  border-radius: 20px;
  margin: 20px 20px;
  color: #fff;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 20px;
  padding-left: 20px;
  overflow: hidden;
}
.FavoriteUl > li:hover > img {
  transform: scale(1.1);
}
.FavoriteUl > li > img {
  width: 200px;
  height: 300px;
  position: absolute;
  left: 0;
  bottom: 0;
  object-fit: cover;
  z-index: -3;
  transition: all 0.8s;
}
.FavoriteUl > li > span {
  margin-top: 10px;
}
.FavoriteUl > li > span:nth-of-type(1) {
  font-weight: 700;
}

.FavoriteDeleteBtn {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 50%;
  right: 10px;
  top: 10px;
  cursor: pointer;
  z-index: 9;
  text-align: center;
  line-height: 30px;
}
.FavoriteDeleteBtn:hover {
  border: none;
  background-color: #d21c38;
  opacity: 1;
}

/* MyPage */

.MyPage {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  min-height: 500px;
  padding-top: 80px;
  /* border: 1px solid #d21c38; */
}

/* CategoryListContents */

.CategoryListContents {
  width: 100%;
  min-width: 1000px;
  height: 65%;
  min-height: 500px;
  /* border: 1px solid orange; */
  display: flex;
  align-items: center;
}

/* CategoryList */

.CategoryListLine {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  border-bottom: 2px solid #fff;
  animation: 3s lineLoad ease;
}

@keyframes lineLoad {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.CategoryListSlide {
  width: 100%;
  height: 20%;
  /* border: 1px solid green; */
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.CategoryList {
  width: 80%;
  height: 100%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid #d21c38; */
  align-items: center;
  animation: 5s TitleDotLoad ease;
}

@keyframes TitleDotLoad {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.CategoryLi {
  position: relative;
  width: 120px;
  height: 120px;
  /* border: 1px solid #00acee; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.CategoryTitle {
  position: absolute;
  top: 0;
  transition: all 0.4s;
  opacity: 0.6;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}
.CategoryDot {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: #ccc;
  transition: all 0.4s;
}

.CategoryLi > input[type='radio'] {
  display: none;
}
.CategoryLi > label {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* .CategoryLi > label:hover > .CategoryTitle {
  transform: translateY(-10px) scale(1.05);
  font-size: 1.5rem;
  color: #fff;
  opacity: 1;
}
.CategoryLi > label:hover > .CategoryDot {
  width: 20px;
  height: 20px;
  background-color: #fff;
} */

.CategoryLi input[type='radio']:checked + label .CategoryTitle {
  font-size: 1.5rem;
  color: #fff;
  opacity: 1;
}

.CategoryLi input[type='radio']:checked + label .CategoryDot {
  background-color: #fff;
  width: 20px;
  height: 20px;
}

/* Category */

.Category {
  /* border: 1px solid #d21c38; */
  width: 100%;
  min-width: 1000px;
  height: 100vh;
  color: #fff;
  min-height: 800px;
  padding-top: 120px;
  overflow: hidden;
}

.CategoryCopyWrite {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  height: 5%;
  min-height: 36px;
  margin-bottom: 20px;
  position: relative;
  width: max-content;
  margin: 0 auto;
  /* border: 1px solid yellow; */
}

/* .CategoryCopyWrite::before,
.CategoryCopyWrite::after {
  content: '';
  inset: 0;
  position: absolute;
}

.CategoryCopyWrite::before {
  background: #000;
  animation: typeAni 2s ease forwards;
}

@keyframes typeAni {
  to {
    left: 100%;
  }
} */

/* Footer */
.Footer {
  width: 200px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 0.5rem;
  color: #fff;
  opacity: 0.4;
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 910;
  transform: translateX(-100px);
}


/* recommneds */

.recommends {
  color: white;
  text-align: center;
  /* border: solid 4px tomato; */
  box-sizing: border-box;
  margin: 0 80px;
  width: 80%;
}

.recBody {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: solid 3px seagreen; */
}

.recIntroTitle {
  text-align: left;
  font-size: 30px;
  font-weight: bolder;
}

.recImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.recDetail {
  text-align: left;
  margin: 50px;
}

.recTitle {
  margin: 20px;
  font-size: 30px;
}

.recPlace {
  margin: 20px;
  font-weight: bolder;
}

.recText {
  margin: 20px;
}

.getDown {
  font-size: 1.2rem;
  transition: all 0.4s;
  letter-spacing: 0.1rem;
  cursor: pointer;
  /* border: solid 3px white; */
}
.getDown:hover {
  letter-spacing: 0.3rem;
}
.getDown:active {
  transform: translateY(10px);
}
.getDownBtn {
  width: 0px;
  height: 0px;
  margin-top: 20px;
  border-bottom:30px solid none;
  border-top:30px solid gray;
  border-right: 30px solid transparent;
  border-left: 30px solid  transparent;
}

.recButtons {
  /* border: solid 5px plum; */
  display: flex;
  flex-direction: column;
  margin: 10px 40%;
  width: 30%;
}

.goPlayPage {
  background-color: #00acee;
  color: white;
  /* border: 1px solid #fff; */
  font-size: 1.2rem;
  /* text-align: center; */
  transition: all 0.4s;
  letter-spacing: 0.1rem;
  cursor: pointer;
  /* padding: 15px;
  height: 50px; */
  padding:20px;
}
.goPlayPage:hover {
  letter-spacing: 0.3rem;
}
.goPlayPage:active {
  transform: translateY(10px);
}

.getPlay {
  background-color: #00acee;
  color: white;
  cursor: pointer;
  padding: 20px;
  font-size: 1.2rem;
  transition: all 0.4s;
  letter-spacing: 0.1rem;
}
.getPlay:hover {
  letter-spacing: 0.3rem;
}
.getPlay:active {
  transform: translateY(10px);
}

.skip {
  margin: 30px;
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: 1rem;
  transition: all 0.4s;
  letter-spacing: 0.1rem;
}
.skip:hover {
  letter-spacing: 0.3rem;
}
.skip:active {
  transform: translateY(10px);
}

.RecWeathers {
  background-color: black;
  margin: 100px 0;
  /* border: solid 7px darkblue; */
}

.RecSeasons {
  background-color: black;
  /* border: solid 7px orange; */
}


/* play */

.View {
  position: absolute;
  z-index: 3;
  box-sizing: border-box;
  width: 100%;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ViewImg {
  z-index: -3;
  position: absolute;
  opacity: 0.3;
  width: 100%;
  height: 1000px;
}

.ContentsPlayer {
  /* border: solid 5px orange; */
  padding: 50px 150px;
}

.PlayHead {
  /* border: solid 5px darkblue; */
  display: flex;
  padding: 20px 0px 0 0;
  justify-content: space-between;
}
.PlayTitle {
  /* border: solid 3px tomato; */
  padding: 20px 0px 10px 20px;
  margin: 0 150px 0 0px;
  font-size: 30px;
  font-weight: bolder;
}
.InfoBtn {
  cursor: pointer;
  margin: 0 0 0 300px;
  padding: 20px;
}
.FavBtn {
  cursor: pointer;
  padding: 20px;
}

.PlayBody {
  /* border: solid 3px seagreen; */
  /* padding: 100px 150px; */
}

.BodyPlace {
  /* border: solid 3px azure; */
  padding: 10px 20px 10px 20px;
  font-size: 20px;
}

.BodyText {
  /* border: solid 3px red; */
  padding: 10px 10px 100px 20px;
  text-align: left;
}

.PlayRecommneds {
  position: absolute;
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  /* align-items: center; */
}

.PlayFooter {
  /* justify-content: center; */
  justify-content: space-between;
  padding: 0 200px;
  display: flex;
}
.PlayBtn {
  margin: 20px;
  padding: 20px;
  cursor: pointer;
}
.PauseBtn {
  margin: 20px;
  padding: 20px;
  cursor: pointer;
}

.PlayRecWeathers {
  /* border: solid 7px darkblue; */
  margin: 700px 0 100px 0;
}

.PlayRecSeasons{
  /* border: solid 7px orange; */
}


/* Not found */

.NotFound {
  color: white;
  font-size: 50px;
  padding: 300px;
  text-align: center;
}
